Requirements
------------

TinyComicCMS_JSON

Short: You just need PHP. 
"cmod 777" the target folder if something won't work. ;)
(mostly the uploads folder.)

This is a REALLY tiny ComicCMS.

I stripped out much overhead from the old TinyComicCMS.
It does not use SQL anymore but plain JSON.

That makes it even more tiny because you do not have to set up an SQL server.

The frontend runs in pure JavaScript now, it can be used without PHP.

The backend with the admin stuff has its own folder (_admin), where also all the php stuff resides.
Bootstrap (dialogs and stuff) is only used in the admin panel and resides in the _admin folder now, too.
Same with the bootstrap css files.

I pull out the old files time by time when they are "converted" into the new system.

All the JS files in the frontend, except the jQuery which is loaded from a CDN, is written by myself.
Again, the bootstrap stuff is only used in the admin panel to easy things up. The frontend is completely, 
except for jQuery, written by myself.

Beni Yager, 2019

--------------------------------------------------------------------------------------------------------------------------------------------

Customization
-------------

Background: Just change the background image. (images/background.jpg)
Page title: Change the title image. (images/pagetitle.png)
You can customize much stuff in the css/comiccms.css file.
(To change the properties of dialogs, open css/bootstrap-dialog.min.css 
	-> dialogs are only used for admin stuff.)

Language and more customization:

This page is made for ONE language because the comic mostly appears just in one language itself.
If you want to change the language, just copy the php/lang.german.php file, rename it to 
e.g. lang.english.php and change the words and sentences in that file.

Then you add an include at the end of the config.php file. DO NOT DELETE the default include. 
Just include your file below that include, so all the old words/sentences will be overwritten.

You can also use HTML (e.g. include an <img> for the links.) in that files, so here you can
do another big part of customization. ;)
